@using SimBreviloquentDemo.Layout

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="pluginsMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Plugins
    </a>
    <ul class="dropdown-menu" aria-labelledby="pluginsMenu">
        <li><NavLink class="dropdown-item" href="/show-plugin-admin">Show Plugin Admin</NavLink></li>
        <li><NavLink class="dropdown-item" href="/air-plugin">Air Plugin</NavLink></li>
        <li><NavLink class="dropdown-item" href="/gizmo64">Gizmo64</NavLink></li>
        <li><NavLink class="dropdown-item" href="/imgui-simbrief">ImGuiSimBrief</NavLink></li>
        <li><NavLink class="dropdown-item" href="/position-aircraft">Position Aircraft</NavLink></li>
        <li><NavLink class="dropdown-item" href="/visualxp">VisualXP</NavLink></li>
        <li><NavLink class="dropdown-item" href="/webfmc">WebFMC</NavLink></li>
        <li><NavLink class="dropdown-item" href="/xpuipc">XPUIPC</NavLink></li>
        <li><NavLink class="dropdown-item" href="/xchecklist">Xchecklist</NavLink></li>
        <li><NavLink class="dropdown-item" href="/minicockpit">miniCOCKPIT</NavLink></li>
        <li><NavLink class="dropdown-item" href="/stkpconnect">STKPConnect</NavLink></li>
        <li><NavLink class="dropdown-item" href="/airfoillabs">Airfoillabs</NavLink></li>
        <li><NavLink class="dropdown-item" href="/avs">AVS</NavLink></li>
        <li><NavLink class="dropdown-item" href="/avitab">AviTab</NavLink></li>
        <li><NavLink class="dropdown-item" href="/better-pushback">Better Pushback</NavLink></li>
        <li><NavLink class="dropdown-item" href="/flywithlua">FlyWithLua</NavLink></li>
        <li><NavLink class="dropdown-item" href="/x-camera">X-Camera</NavLink></li>
        <li><NavLink class="dropdown-item" href="/xmidi-ctrl">XMidiCtrl</NavLink></li>
        <li><NavLink class="dropdown-item" href="/terrain-radar">Terrain Radar</NavLink></li>
        <li><NavLink class="dropdown-item" href="/walkaround">Walkaround</NavLink></li>
    </ul>
</li>