@page "/"

<PageTitle>Welcome to SimBreviloquent Demo</PageTitle>

<h1>Welcome to the SimBreviloquent Plugin Demo</h1>

<div class="introduction-section">
    <p>This website is designed to demonstrate the SimBreviloquent Plugin for X-Plane 12 by mimicking its functionality
        within your browser.</p>
    <p>If you have access to SimBrief, this plugin allows you to download flight dispatch information directly into
        X-Plane with minimal disruption to your flight immersion.</p>
    <p><strong>SimBreviloquent</strong> makes viewing this information simple and convenient, eliminating the need
        to switch between multiple windows or applications.</p>
    <p><strong>Please note that SimBrief is a separate product. Without access to SimBrief, this plugin will not
            function.</strong></p>
    <p>Take the plugin for a test flight and experience how it will appear in X-Plane 12.</p>
</div>


<p>
    To get started, navigate through the menus above and explore the features of the SimBreviloquent plugin.<br>
    To return to this page click "X-Plane 12 - SimBreviloquent Plugin Demo" in the top right corner.
</p>

<div class="features-section">
    <h2>Features of the SimBreviloquent Plugin</h2>
    <ul>
        <li>Download flight dispatch information from SimBrief.</li>
        <li>View dispatch details in a comprehensive briefing preview window.</li>
        <li>Display sections of the dispatch information in separate windows.</li>
        <li>Use a floating menu to select the sections you want when you need them.</li>
        <li>Use predefined themes or customize appearance as you prefer.</li>
    </ul>
</div>

<div class="important-warning">
    <h2>
        <span class="warning-icon">⚠️</span> Important: SimBrief is a separate product. Without access to SimBrief, this plugin will not
            function.
    </h2>
</div>
